# Ignorar todo
*

# Pero no ignorar estos archivos/directorios específicos

!Apuntes.txt

!README.md
!LICENSE

!Cap00-Proyecto/
!Cap00-Proyecto/**

!Cap01-C/
!Cap01-C/**

!Cap02-Perl/
!Cap02-Perl/**

!.gitignore


